/* COSAS GENERALES */

:root{
    --color-titulos-negros: rgb(0, 0, 0);
    --color-celeste: rgb(63, 135, 154);
    --color-gris-texto: rgb(142, 142, 142);
    --color-gris-fondo: #f6f6f6;
    --color-blanco: #ffffff; 
}

.resalte {
    color: var(--color-celeste);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 255, 255);
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* NAVEGACION */

.header {
    display: flex;
    max-width: 1200px; 
    margin: auto; 
    padding: 10px; 
    align-items: center; 
    justify-content: space-between; 
}

.logo {
    max-width: 10rem; 
    margin-right: 10px; 
    margin-left: 0;
    margin-top: 20px;
}

.navbar, .navbar-nav, .links {
    display: flex;
    justify-content: center; 
    flex-grow: 1;
    font-family: 'Anton', sans-serif; 
    font-size: 18px; 
    gap: 15px;
    color:  var(--color-titulos-negros); 
    margin-top: 10px; 
    text-decoration: none; 
}

.navbar-nav a, .links a {
    color:  var(--color-titulos-negros); 
    padding: 10px;
    text-decoration: none; 
}

.navbar-nav a:hover, .links a:hover {
    color: var(--color-celeste); 
}
#resalte {
    color:  var(--color-celeste); 
    padding: 10px;
    text-decoration: none; 
}

/* PANTALLAS CHICAS */
@media (max-width: 768px) {
    .header {
        background-color: var(--color-blanco);
        margin-bottom: 20px; 
    }

    .navbar, .navbar-nav {
        background-color: var(--color-blanco);
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .navbar-nav a {
        color:var(--color-titulos-negros);
        padding: 15px 20px;
        text-align: center;
    }
}
/* PARTE PAGINA ACTUAL */
.pagina-actual {
    width: 90%; 
    max-width: 1400px; 
    height: 250px; 
    background-color: var(--color-gris-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto; /* Add margin for spacing */
    flex-direction: column;
    gap: 20px;
    padding: 20px; 
}

@media (max-width: 1200px) {
    .pagina-actual {
        width: 95%; 
    }
}

@media (max-width: 768px) {
    .pagina-actual {
        width: 100%; 
        padding: 10px; 
    }
}

.color-titulos-negros {
    color: var(--color-titulos-negros);
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 1.5rem; 
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.pagina-actual h2 {
    font-size: 1.2rem;
    margin-top: 0;
}

.pagina-actual-h2 a {
    text-decoration: none;
    color: var(--color-celeste);
}

.home-poppins-regular {
    color: var(--color-titulos-negros);
    text-decoration: none;
}

.contacto-poppins-regular {
    color: var(--color-celeste);
    text-decoration: none;
}

.roboto-thin {
    font-family: "Roboto";
    font-weight: 100;
}

/* FORMULARIO Y SECCIONES */

.form-contacto, .contact-info, .horarios-atencion, .redes-sociales {
    background-color: var(--color-gris-fondo);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    flex: 1; 
    margin-bottom: 20px; 
}

.form-contacto .btn {
    width: 100%;
    padding: 12px;
    background-color: var(--color-gris-texto);
    color: var(--color-blanco);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.form-contacto .btn:hover {
    background-color: var(--color-celeste);
}

.info-item, .info-texto, .info-texto-redes {
    display: flex;
    align-items: center;
}

.info-item img, .info-texto img, .info-texto-redes img {
    max-width: 70px;
    max-height: 70px;
    margin-right: 10px;
}

.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.horarios-dias{
    margin-top: 90px;
}



/* FOOTER */


footer {
    background-color: var(--color-titulos-negros);
    padding: 20px;
    text-align: center;
    color: var(--color-blanco); 
}

.logo-del-footer {
    max-width: 12rem;
    padding: 25px 0;
}

.texto-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.texto-footer h1 {
    font-size: 1.25rem; 
    padding: 20px 0;
    margin: 0;
}

.iconos-redes-sociales {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.iconos-redes-sociales img {
    width: 40px; 
    height: 40px;
}

.iconos-redes-sociales hr {
    border: 0;
    color: #363636;
    border-top: 3px solid var(--color-gris-fondo);
    width: 35px;
    margin: 0 1rem;
    margin-top: 1rem;
    height: 0;
}

.formas-de-pago {
    padding: 100px 0;
}

.medios-pagos img {
    max-width: 500px;
    height: auto;
}